:root {
  --color-cyg: #7b8d9c;
  --hufflepuff: #C7B662;
  --borde: #5a54672e;
  --accent: #5a5467;
  --texto: #8c8c8c;
  --hufflepuff-b: #000000;
  --gryffindor: #923232;
  --gryffindor-b: #c3aa5b;
  --ravenclaw: #345e92;
  --ravenclaw-b: #7b4c1e;
  --slytherin: #416b50;
  --slytherin-b: #6c7a86;
  --hogwarts: #A3B34A;
  --hogsmeade: #966B41;
  --ministerio: #636abf;
  --sanmungo: #53a09c;
  --otros: #6EADC4;
  --desempleados: #7d7772;
}

/* FIRMA */

.cemsig {
  width: 350px;
  height: 200px;
  background: url('https://imgur.com/bRgtZRN.png');
  margin: 10px auto;
  outline-offset: 1px;
  outline: 2px solid var(--color-cyg);
}

.cemsig .cemtxt {
  margin-top: 140px;
  position: absolute;
  width: 350px;
}

.cemsig .cemtxt div {
  font-family: 'Playfair Display';
  text-transform: uppercase;
  font-size: 60px;
  line-height: 100%;
  font-weight: 900;
  color: #455A64;
  letter-spacing: -5px;
  margin-left: 3px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.cemsig .cemtxt span {
  font-family: 'Roboto';
  font-weight: 500;
  color: #464646;
  font-size: 10px;
  text-align-last: justify;
  display: block;
  padding: 5px 40px;
  line-height: 10px;
  background-image: url('https://imgur.com/bRgtZRN.png');
  background-position: 0px -167px;
  margin-top: -35px;
  text-transform: uppercase;
  width: 270px;
  text-align: center;
  position: absolute;
}

/* TABLILLA DE ROL */
.cemtbrl {
  width: 370px; 
  padding: 40px; 
  background: #020202; 
  border: 1px solid #5a54672e; 
  margin: auto;
} 

.cemtbrl .tbtt {
  font-family: 'Playfair Display'; 
  font-weight: 900;
  color: #aaa; 
  font-size: 23px; 
  text-align: center;
  text-transform: uppercase; 
  line-height: 100%;
  margin-top: 10px;
} 

.cemtbrl .tbdt {
  font-size: 7px;
  text-transform: uppercase; 
  text-align: center; 
  font-family: 'Roboto'; 
  letter-spacing: 1px;
  line-height: 100%; 
  margin-top: 10px;
} 

.cemtbrl .tbdt i {
  color: var(--color-cyg); 
  font-size: 7px;
} 

.cemtbrl .tbrl {
  padding: 20px; 
  font-size: 11px; 
  line-height: 16px;
  margin-top: 10px; 
  text-align: justify;
} 

.cemtbrl .tbrl:first-letter {
  float: left; 
  font-size: 63px; 
  font-family: 'Playfair Display'; 
  line-height: 58px;
  margin: 0px 10px;
  font-weight: 700; 
  font-style: italic;
} 

.cemtbrl .tbrl u {
  text-decoration: none; 
  font-weight: 700; 
  color: var(--color-cyg);
}

/*PORTADA BAÚL*/
.cemtrk {
  width: 850px;
  min-height: 500px;
  line-height: 0%;
  overflow: hidden;
}

.cemtrk .trkhead {
  width: 800px;
  height: 100px;
  padding: 25px;
  background-image: url(https://imgur.com/fX0DMXL.png);
  background-size: cover;
  background-color: rgba(000,000,000,0.8);
  background-blend-mode: multiply;
  background-position: center;
  border-bottom: 1px solid var(--texto);
}

.cemtrk .trkhead .trktit {
  margin: auto;
  font-size: 50px;
  font-family: 'Playfair Display';
  line-height: 85%;
  padding: 15px;
  border: 1px solid var(--texto);
  width: 50px;
  height: 50px;
  text-align: center;
  transform: rotate(-45deg);
  font-weight: 900;
  margin-top: 10px;
}

.cemtrk .trkhead .trktit span {
  display: block;
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
}
.cemtrk .trkhead .trktit i {
  font-size: 30px;
  display: block;
  padding: 10px 0px;
  line-height: 30px;
}

.cemtrk .trkbody {
  width: 750px;
  padding: 50px;
  height: 300px;
  background-image: url(https://i.pinimg.com/originals/7f/43/ea/7f43eae3c4f23efc814c247c6b0bb98b.jpg);
  background-size: cover;
  background-color: rgba(000,000,000,0.7);
  background-blend-mode: multiply;
  background-position: center;
}

.cemtrk .trkbody .trkqte {
  line-height: 18px;
  font-size: 12px;
  font-family: 'Playfair Display';
  width: 300px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  margin-top: 30px;
}

.cemtrk .trkbody .trkqte:first-letter {
  float: left;
  font-size: 50px;
  line-height: 52px;
  margin-right: 10px;
  font-weight: 700; 
  font-style: normal;
}
.cemtrk .trkhead .trkindx {
  column-count: 2;
  column-gap: 5px;
  position: absolute;
  height: 100px;
  font-size: 9px;
  font-family: 'Roboto';
  text-transform: uppercase;
  line-height: 23px;
  column-width: 100px;
}

.cemtrk .trkhead .trkindx a {
  color: var(--texto);
  font-weight: 600;
  text-decoration: none;
}

.cemtrk .trkhead .trkindx a:hover {
  color: var(--color-cyg)!important;
  transition: 0.5s ease-in;
}

.cemtrk .trkhead .trkindx i {
  font-size: 15px;
  margin-right: 5px;
  font-family: 'Playfair Display';
  color: var(--color-cyg);
  font-weight: 700;
}

.cemtrk .trkbody .trkname {
  position: absolute;
  margin: 220px 130px;
  width: 640px;
}

.cemtrk .trkbody .trkname div {
  font-family: 'playfair Display';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 100px;
  color: #000;
  background-image: linear-gradient(#616161, var(--color-cyg));
  line-height: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cemtrk .trkbody .trkname span {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  text-align-last: justify;
  padding: 10px 20px;
  background-image: url(https://i.pinimg.com/originals/7f/43/ea/7f43eae3c4f23efc814c247c6b0bb98b.jpg);
  background-size: auto 850px;
  background-color: rgba(000,000,000,0.7);
  background-blend-mode: multiply;
  background-position: -180px -545px;
  background-repeat: no-repeat;
  height: 10px;
  line-height: 10px;
  margin-top: -50px;
}
