:root {
  --color-cyg: #7b8d9c;
}

/* FIRMA */

.cemsig {
  width: 350px;
  height: 200px;
  background: url('https://imgur.com/bRgtZRN.png');
  margin: 10px auto;
  outline-offset: 1px;
  outline: 2px solid var(--color-cyg);
}

.cemsig .cemtxt {
  margin-top: 140px;
  position: absolute;
  width: 350px;
}

.cemsig .cemtxt div {
  font-family: 'Playfair Display';
  text-transform: uppercase;
  font-size: 60px;
  line-height: 100%;
  font-weight: 900;
  color: #455A64;
  letter-spacing: -5px;
  margin-left: 3px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.cemsig .cemtxt span {
  font-family: 'Roboto';
  font-weight: 600;
  color: #000;
  font-size: 12px;
  text-align-last: justify;
  display: block;
  padding: 5px 40px;
  line-height: 10px;
  background-image: url('https://imgur.com/bRgtZRN.png');
  background-position: 0px -167px;
  margin-top: -35px;
  text-transform: uppercase;
  width: 270px;
  text-align: center;
  position: absolute;
}

/* TABLILLA DE ROL */
.cemtbrl {
  width: 370px; 
  padding: 40px; 
  background: #020202; 
  border: 1px solid #5a54672e; 
  margin: auto;
} 

.cemtbrl .tbtt {
  font-family: 'Playfair Display'; 
  font-weight: 900;
  color: #aaa; 
  font-size: 23px; 
  text-align: center;
  text-transform: uppercase; 
  line-height: 100%;
  margin-top: 10px;
} 

.cemtbrl .tbdt {
  font-size: 7px;
  text-transform: uppercase; 
  text-align: center; 
  font-family: 'Roboto Mono'; 
  line-height: 100%; 
  margin-top: 10px;
} 

.cemtbrl .tbdt i {
  color: var(--color-cyg); 
  font-size: 7px;
} 

.cemtbrl .tbrl {
  padding: 20px; 
  font-size: 11px; 
  line-height: 140%;
  margin-top: 10px; 
  text-align: justify;
} 

.cemtbrl .tbrl:first-letter {
  float: left; 
  font-size: 55px; 
  font-family: 'Playfair Display'; 
  line-height: 55px;
  margin: 0px 10px;
  font-weight: 700; 
  font-style: italic;
} 

.cemtbrl .tbrl u {
  text-decoration: none; 
  font-weight: 700; 
  color: var(--color-cyg);
}
